:root {
    /* Colors */
    --background: rgb(181, 227, 155);
}

#boulderInfoHolder {
    display: flex;
    flex-direction: row;
}

#boulderInfo {
    width: 50%;
    padding: 10px;
}

#routeCardHolder {
    display: flex;
    flex-wrap: wrap;
}

.routeCard {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    color: var(--background);
    background-color: black;
}

.routeCard:hover {
    background-color: var(--background);
    color: black;
}

#imageCardsHolder {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

