:root {
    /* Colors */
    --background: rgb(181, 227, 155);
}

#boulderInfoHolder {
    display: flex;
    flex-direction: row;
}

#boulderInfo {
    width: 50%;
    padding: 10px;
}

#routeCardHolder {
    display: flex;
    flex-wrap: wrap;
}


#imageCardsHolder {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

