#mapTitleText {
    text-align: center;
}

.leaflet-container{
    margin: 10px;
    padding: 10px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}

#mapComponent {
    height: 300px;
    margin:10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

