
:root {
  /* Colors */
  --background-main: rgb(237, 237, 237);
  --background-header: rgb(12, 12, 97);
  
  --text-logo: 'Righteous', cursive;
  --text-logo-orange: rgb(232, 82, 23);
  --text-main: var(--background-header);
}

/*****************/
/* Global Styles */
/*****************/

.App {
  background-color: var(--background-button);
  color: var(--text-main);
  font-family: var(--text-logo);
}

.text-emphasis {
  color: var(--background-main);
}

.text-emphasis-orange {
  color: var(--text-logo-orange);
}


