:root {
    /* Colors */
    --background: rgb(181, 227, 155);
}

#routeList {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#routeListTitle { 
    text-align: center;
}

#areaCards {
    display: flex;
    flex-direction: row;
}

#areaCards p {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    color: var(--background);
    background-color: #212529;
}