
:root {
    /* Colors */
    --background-main: rgb(237, 237, 237);
    --background-header: rgb(12, 12, 97);
    
    --text-logo: 'Righteous', cursive;
    --text-logo-orange: rgb(232, 82, 23);
    --text-main: var(--background-header);
  }

/**************************/
/* Landing Page Component */
/**************************/

#contractorJobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contractorTitle {
    font-size: 50px;
}

#headerSubtitle {
    font-size: 25px;
}

#newJobButton {
    margin: 0 0 20px 0;
    font-size: 30px;
}

/*****************************/
/* Active Job Card component */
/*****************************/
.jobContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.allJobCardsHolder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 45%;
    border: 5px solid var(--text-logo-orange);
    margin: 0 5px 20px 5px;
    border-radius: 10px;
}

.allJobCardsHolder .jobCard {
    background-color: var(--background-header);
    width: 95%;
    border-radius: 5px;
    color: var(--background-main);
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.myJobCardsHolder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 45%;
    border: 5px solid var(--text-logo-orange);
    margin: 0 5px 20px 5px;
    border-radius: 10px;
}

.myJobCardsHolder .jobCard {
    background-color: white;
    width: 95%;
    border: 3px solid var(--background-header);
    border-radius: 5px;
    color: var(--background-header);
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.jobCard {
    background-color: var(--background-header);
    width: 95%;
    border-radius: 5px;
    color: var(--background-main);
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

#deleteBtn { margin: 10px;}


/*************************************************************/

/*****************/
/* Media Queries */
/*****************/

@media screen and (max-width: 750px) {
    
    .allJobCardsHolder .jobCard {
        font-size: 22px;
    }
    
    .myJobCardsHolder .jobCard {
        font-size: 22px;
    }

    .jobCard {
        font-size: 22px;
    }
  }

  @media screen and (max-width: 585px) {
    #headerSubtitle {
        font-size: 17.5px;
    }
    
    .jobContainer {
        flex-direction: column;
        align-items: center;
    }

    .myJobCardsHolder {
        width: 90%;
    }

    .allJobCardsHolder {
        width: 90%;
    }

  };
