#red-alert, #green-alert {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#red-alert {background-color: red;}

#green-alert {background-color: green;}

#red-alert p, #green-alert p {font-size: 15px;}

