#red-alert, #green-alert {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#red-alert {
    background-color: red;
}

#red-alert p, #green-alert p {
    font-size: 15px;
}

#green-alert {
    background-color: green;
}