
#red-alert {
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#red-alert p {
    font-size: 15px;
}

#green-alert {
    background-color: green;
    border-radius: 10px;
}