#weatherBox {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: 475px;
}

#dailyBoxes {
    display: flex;
    flex-direction: row;
}

#dailyBox {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    width: 14%;
    text-align: center;
    height: 400px;
}

#dailyBox p {
    font-size: 15px;
}

.day, .date { font-weight: 600}

.weatherImg {
    background-color: gray;
    position: relative;
    z-index: 1;
    height: 95px;
    width: 95px;
    margin-bottom: 5px;
    border-radius: 5px;
}