#weatherBox {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: 375px;
}

#dailyBoxes {
    display: flex;
    flex-direction: row;
}

#dailyBox {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    width: 14%;
    text-align: center;
    height: 300px;
}

#dailyBox p {
    font-size: 15px;
}

#day, #date { font-weight: 600}

