#routeInfoHolder {
    margin: 0 10px 0 10px;
}

#singleRoutePhoto {
    height: 200px;
    border: 1px solid black;
}

#singleRouteVideo {
    border: 1px solid black;
}

#breadcrumb {
    margin: 10px;
}

