:root {
    /* Colors & Sizes */
    --text-main: rgb(181, 227, 155);
    --font-main: 'Permanent Marker', cursive;
}

#logo {
    color: var(--text-main);
    font-family: var(--font-main);
}

.navLink{
    color: rgb(167, 167, 167);
}

.navLink:hover{
    color: rgb(213, 213, 213);
}



