:root {
    /* Colors & Sizes */
    --text-main: rgb(181, 227, 155);
    --font-main: 'Permanent Marker', cursive;
}

#logo {
    color: var(--text-main);
    font-family: var(--font-main);
}



#test{
    color: white;
}

#successAlert{
    color: #0f5132;
    background-color: #d1e7dd
}

