
:root {
    /* Colors */
    --background-main: rgb(237, 237, 237);
    --background-header: rgb(12, 12, 97);
    
    --text-logo: 'Righteous', cursive;
    --text-logo-orange: rgb(232, 82, 23);
    --text-main: var(--background-header);
  }

/*********************/
/* New Job Component */
/*********************/

#newJob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#newJobForm, #newJobForm input, #newJobForm textarea {
    width: 85%;
}

#newJobForm textarea {
    height: 150px;
    margin: 0 0 20px 0;
    font-size: 25px;
}


/*************************************************************/

/*****************/
/* Media Queries */
/*****************/

@media screen and (max-width: 585px) {
  #newJobForm, #newJobForm input, #newJobForm textarea {
    width: 75%;
}
  
  #newJobForm textarea {
    font-size: 20px;
  }
}
